<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  body {
    font-size: 15pt;
    font-family: arial;
  }
</style>


<body>
  <div class="container-fluid p-4">
    <div class="float-right">
      <a href="/logout" class="btn btn-primary float-right">Logout</a>
    </div>
    <h1>Player Dash</h1>
    {% for n in data %}
    <div>Name: {{ n['name'] }}</div>
    <div>Birthdate: {{ n['birthdate'] }} </div>
    <div>Height: {{ n['height'] }} </div>
    <div>Weight: {{ n['weight'] }} </div>
    {% endfor %}
  </div>
</body>


</html>