{% extends "layout_main.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid p-4">

    <div class="row">
        <h1>NBA Dash</h1>
    </div>
    <div class="row">
        <form method="get" action="/search-player">

            <label for="query">Search player here:</label>
            <input name="query" type="text" value=""> <input type="submit" value="Search">
        </form>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col">Steals</th>
                    <th scope="col">Blocks</th>
                </tr>
            </thead>
            <tbody>
                {% for n in data %}
                <tr>
                    <td><a href="{{ '/players/%s'%n['pid'] }}">{{ n['name'] }}</a></td>
                    <td>{{ n['current_team'] }}</td>
                    <td>{{ n['avg_points']|round(1, 'floor') }}</td>
                    <td>{{ n['avg_steals']|round(1, 'floor') }}</td>
                    <td>{{ n['avg_blocks']|round(1, 'floor') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}