/* Navigation Styles*/

nav {
    /* display: flex; */
    padding: 15px;
    /* justify-content: center; */
    background-color: rgb(56, 56, 56);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid orange;
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

nav a:hover {
    text-decoration: none;
    color: rgb(255, 123, 123);
}